SERVICE_PROFILE=development
SERVICE_PORT=8080
SERVICE_NAME=process-management-service

LOGGING_LEVEL_ROOT=INFO
LOGGING_LEVEL_SPRING_WEB=DEBUG
LOGGING_LEVEL_APP=DEBUG

POSTGRES_SERVICE_NAME=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DATABASE=db_process_management
POSTGRES_USER=postgres
POSTGRES_PASSWORD=softwaredeveloper

ENABLE_SWAGGER=true

SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=user@gmail.com
SPRING_MAIL_PASSWORD=password
SPRING_MAIL_SMTP_AUTH=true
SPRING_MAIL_SMTP_STARTTLS_ENABLE=true
IGRP_MAIL_DEFAULT_FROM=no-reply@igrp.cv

AUTH_JWT_ISSUER=https://keycloak-demoigrp.nosi.cv/realms/igrp

IGRP_ACCESS_API_BASE_URL=https://keycloak-demoigrp.nosi.cv/realms/igrp
